// Package day{{.Day}} solves AoC 2025 day {{.Day}}
package day{{.Day}}

import (
	"io"
)

// InInfo is a go representation of the input.
// TODO: Update name, type, attributes etc. to match the day.
type InInfo struct{}

func Part1(r io.Reader) (int, error) {
	_, err := ParseIn(r)
	if err != nil {
		return 0, err
	}
	// TODO: solve part 1
	answer := 0

	return answer, nil
}

func Part2(r io.Reader) (int, error) {
	_, err := ParseIn(r)
	if err != nil {
		return 0, err
	}
	// TODO: solve part 2
	answer := 0

	return answer, nil
}

func ParseIn(r io.Reader) (InInfo, error) {
	// TODO: Update to parse input
	_ = r
	return InInfo{}, nil
}
