---
name: Build Push

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        year: [2024, 2025]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "./${{ matrix.year }}/go.mod"
          cache-dependency-path: "./${{ matrix.year }}/go.sum"
          check-latest: true

      - name: install deps
        uses: golangci/golangci-lint-action@v9
        with:
          install-only: true
          version: latest
          working-directory: ./${{ matrix.year }}

      - name: lint ${{ matrix.year }}
        run: golangci-lint run ./...
        working-directory: ./${{ matrix.year }}

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        year: [2024, 2025]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "./${{ matrix.year }}/go.mod"
          cache-dependency-path: "./${{ matrix.year }}/go.sum"
          check-latest: true

      - name: test ${{ matrix.year }}
        run: go test ./...
        working-directory: ./${{ matrix.year }}
