---
name: build 2024

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "./2024/go.mod"
          check-latest: true

      - name: install deps
        uses: golangci/golangci-lint-action@v9
        with:
          install-only: true
          version: latest # last known good v2.6.2

      - name: lint all years
        run: |
          for year in */go.mod; do
            year_dir=$(dirname "$year")
            echo "Linting $year_dir..."
            cd "$year_dir" && golangci-lint run ./... && cd ..
          done

      - name: test all years
        run: |
          for year in */go.mod; do
            year_dir=$(dirname "$year")
            echo "Testing $year_dir..."
            cd "$year_dir" && go test ./... && cd ..
          done
